<?xml version="1.0" encoding="UTF,-7.5"?>
<pdf:template>
    {{! 公路赔(补)偿清单 }}
	<pdf:paper width="595.276" height="836.89" fontName="SimSun" fontSize="10" offset="9,8.5"/>
	<pdf:content>
        <pdf:text point="top-left:18.5,16" fontSize="15">广东省公路事务中心揭博高速公路路政大队</pdf:text>
		<pdf:text point="top-left:24.5,25" fontName="SimHei" fontSize="17.5">损 坏 公 路 设 施 索 赔 清 单</pdf:text>
		<pdf:line fromPoint="22,31.8" toPoint="117,31.8" lineWidth="0.8"/>
		<pdf:line fromPoint="22,32.5" toPoint="117,32.5" lineWidth="0.8"/>
        
<!--        制作标准刻度-->
<!--        <pdf:line fromPoint="1,-7.5" toPoint="55,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="2,-6" toPoint="2,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="3,-6" toPoint="3,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="4,-6" toPoint="4,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="5,-4.5" toPoint="5,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="6,-6" toPoint="6,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="7,-6" toPoint="7,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="8,-6" toPoint="8,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="9,-6" toPoint="9,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="10,-4.5" toPoint="10,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="11,-6" toPoint="11,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="12,-6" toPoint="12,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="13,-6" toPoint="13,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="14,-6" toPoint="14,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="15,-4.5" toPoint="15,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="16,-6" toPoint="16,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="17,-6" toPoint="17,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="18,-6" toPoint="18,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="19,-6" toPoint="19,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="20,-4.5" toPoint="20,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="21,-6" toPoint="21,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="22,-6" toPoint="22,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="23,-6" toPoint="23,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="24,-6" toPoint="24,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="25,-4.5" toPoint="25,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="26,-6" toPoint="26,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="27,-6" toPoint="27,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="28,-6" toPoint="28,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="29,-6" toPoint="29,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="30,-4.5" toPoint="30,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="31,-6" toPoint="31,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="32,-6" toPoint="32,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="33,-6" toPoint="33,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="34,-6" toPoint="34,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="35,-4.5" toPoint="35,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="36,-6" toPoint="36,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="37,-6" toPoint="37,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="38,-6" toPoint="38,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="39,-6" toPoint="39,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="40,-4.5" toPoint="40,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="41,-6" toPoint="41,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="42,-6" toPoint="42,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="43,-6" toPoint="43,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="44,-6" toPoint="44,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="45,-4.5" toPoint="45,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="46,-6" toPoint="46,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="47,-6" toPoint="47,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="48,-6" toPoint="48,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="49,-6" toPoint="49,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="50,-4.5" toPoint="50,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="51,-6" toPoint="51,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="52,-6" toPoint="52,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="53,-6" toPoint="53,-7.5" lineWidth="0.8"/>-->
<!--        <pdf:line fromPoint="54,-6" toPoint="54,-7.5" lineWidth="0.8"/>-->


        <pdf:table rect="{6,36.5},{169,227}" borderWidth="1.0" lineWidth="0.5" padding="1">
            
            <!--案发地点。时间  CaseCountPrintViewController-->
            <pdf:tr height="12">
                <pdf:td width="12">案发\n地点</pdf:td>
            	<pdf:td width="73" static="NO" textAlignment="left">{{ case.place }}</pdf:td>
            	<pdf:td width="12.5">时间</pdf:td>
            	<pdf:td width="71.5" textAlignment="left">
                    
                    <pdf:text point="mid-left:19,6.3">年</pdf:text>
                    <pdf:text point="mid-left:30.5,6.3">月</pdf:text>
                    <pdf:text point="mid-left:42,6.3">日</pdf:text>
                    <pdf:text point="mid-left:52.5,6.3">时</pdf:text>
                    <pdf:text point="mid-left:62.5,6.3">分</pdf:text>
                    
                    <pdf:text point="mid-left:10,6.2" static="NO">{{case.year}}</pdf:text>
                    <pdf:text point="mid-left:25,6.2" static="NO">{{case.month}}</pdf:text>
                    <pdf:text point="mid-left:36,6.2" static="NO">{{case.day}}</pdf:text>
                    <pdf:text point="mid-left:47.5,6.2" static="NO">{{case.hour}}</pdf:text>
                    <pdf:text point="mid-left:58,6.2" static="NO">{{case.min}}</pdf:text>
                    
                </pdf:td>
            </pdf:tr>
            
            <!--当事人。车号。车型-->
            <pdf:tr height="12">
                <pdf:td width="12">
                     <pdf:text point="mid-left:2.0,3.5">单 位</pdf:text>
                     <pdf:text point="mid-left:0.8,8">当事人</pdf:text>
                </pdf:td>
            	<pdf:td width="73" static="NO" textAlignment="left">{{ citizen.name }}</pdf:td>
            	
            	<pdf:td width="12.5">车号</pdf:td>
            	<pdf:td width="25.5" static="NO">{{ citizen.car_number }}</pdf:td>
                <pdf:td width="12">车型</pdf:td>
            	<pdf:td width="34" static="NO" textAlignment="left">{{ citizen.car_model }}</pdf:td>
            </pdf:tr>
            
            <!--损坏公路情况-->
            <pdf:tr height="137">
                
                <pdf:td width="12" textAlignment="center">损\n\n\n坏\n\n\n公\n\n\n路\n\n\n设\n\n\n施\n\n\n情\n\n\n况</pdf:td>
                
                <pdf:td width="157" textAlignment="center">
                    
                    <pdf:table rect = "{0,0},{157,137}" borderWidth = "0.5" lineWidth = "0.5" padding = "1">
                        <pdf:tr height="9">
                            
                            
                            <pdf:td width="41" height="8" textAlignment="center">项    目</pdf:td>63
                            <pdf:td width="14.5" height="8" textAlignment="center">数量</pdf:td>77.5
                            <pdf:td width="12" height="8" textAlignment="center">单位</pdf:td>89.5
                            <pdf:td width="24.5" height="8" textAlignment="center">单价(元)</pdf:td>114
                            <pdf:td width="35" height="8" textAlignment="center">额定金额(元)</pdf:td>149
                            <pdf:td width="30" height="8" textAlignment="center">备  注</pdf:td>
                            
                        </pdf:tr>
                        
                        {{#items}}
                        <pdf:tr height="8">
                            <pdf:td width="41" textAlignment="left" static="NO" maxWidth="41">{{ .name }}</pdf:td>
                            <pdf:td width="14.5" static="NO" >{{ .quantity }}</pdf:td>
                            <pdf:td width="12" static="NO" >{{ .unit }}</pdf:td>
                            <pdf:td width="24.5" static="NO">{{ .unit_price }}</pdf:td>
                            <pdf:td width="35" static="NO">{{ .total_price }}</pdf:td>
                            <pdf:td width="30" static="NO">{{ .remark }}</pdf:td>
                            
                        </pdf:tr>
                        {{/items}}
                    </pdf:table>
                    
                </pdf:td>
                
            </pdf:tr>
            
            <!--合计-->
            <pdf:tr height="10">
                <pdf:td width="12" textAlignment="center">合计</pdf:td>
            	<pdf:td width="157" textAlignment="center">
                    <pdf:text point="mid-left:2.5,5.5" static="NO">{{ money.type }} </pdf:text>
            		<pdf:text point="mid-left:15,5.5" static="NO">{{ money.wan }} </pdf:text>
            		<pdf:text point="mid-left:21,5.55">万</pdf:text>
                    
            		<pdf:text point="mid-left:30,5.5" static="NO">{{ money.qian }} </pdf:text>
            		<pdf:text point="mid-left:36.5,5.55">仟</pdf:text>
                    
            		<pdf:text point="mid-left:46,5.5" static="NO">{{ money.bai }} </pdf:text>
            		<pdf:text point="mid-left:52,5.55">佰</pdf:text>
                    
            		<pdf:text point="mid-left:62,5.5" static="NO">{{ money.shi }} </pdf:text>
            		<pdf:text point="mid-left:67.5,5.55">拾</pdf:text>
                    
            		<pdf:text point="mid-left:77,5.5" static="NO">{{ money.yuan }} </pdf:text>
            		<pdf:text point="mid-left:82.5,5.55">元</pdf:text>
                    
            		<pdf:text point="mid-left:92,5.5" static="NO">{{ money.jiao }} </pdf:text>
            		<pdf:text point="mid-left:98,5.55">角</pdf:text>
                    
            		<pdf:text point="mid-left:107,5.5" static="NO">{{ money.fen }} </pdf:text>
            		<pdf:text point="mid-left:113,5.55">分（¥</pdf:text>

                    <pdf:text point="mid-left:123.5,5.5" maxWidth="21.5" static="NO">{{money.xiaoxie}}</pdf:text>
                    <pdf:text point="mid-left:145,5.55">元）</pdf:text>
            	</pdf:td>
            </pdf:tr>
            
            <!--备注-->
            <pdf:tr height="46">
                <pdf:td width="169" textAlignment="left">
                    <pdf:text point="mid-left:2,4" >备注：</pdf:text>
                    <pdf:paragraph rect = "{12,1.5},{155.5,45}" lineHeight = "5" static = "NO">{{ comment }}</pdf:paragraph>
                </pdf:td>
                
            </pdf:tr>
            <!--应付金额-->
            <pdf:tr height="10">
                <pdf:td width="169" textAlignment="center">
                    
                    <pdf:text point="mid-left:2.5,5.55" >应付金额(大写)</pdf:text>
                 
            		<pdf:text point="mid-left:42,5.5" static="NO">{{ money.wan }} </pdf:text>
            		<pdf:text point="mid-left:47.5,5.55">万</pdf:text>
                    
            		<pdf:text point="mid-left:56,5.5" static="NO">{{ money.qian }} </pdf:text>
            		<pdf:text point="mid-left:61,5.55">仟</pdf:text>
                    
            		<pdf:text point="mid-left:69,5.5" static="NO">{{ money.bai }} </pdf:text>
            		<pdf:text point="mid-left:74,5.55">佰</pdf:text>
                    
            		<pdf:text point="mid-left:83,5.5" static="NO">{{ money.shi }} </pdf:text>
            		<pdf:text point="mid-left:88,5.55">拾</pdf:text>
                    
            		<pdf:text point="mid-left:96,5.5" static="NO">{{ money.yuan }} </pdf:text>
                    <pdf:text point="mid-left:101.5,5.55">元</pdf:text>
                    
            		<pdf:text point="mid-left:109,5.5" static="NO">{{ money.jiao }} </pdf:text>
            		<pdf:text point="mid-left:114,5.55">角</pdf:text>
                    
            		<pdf:text point="mid-left:122,5.5" static="NO">{{ money.fen }} </pdf:text>
            		<pdf:text point="mid-left:127.5,5.55">分（</pdf:text>
                    
                    <pdf:text point="mid-left:138.5,5.5" maxWidth="18" static="NO">{{money.xiaoxie}}</pdf:text>
                    <pdf:text point="mid-left:157,5.55">元）</pdf:text>
            	</pdf:td>
            </pdf:tr>
        </pdf:table>
        <!--
         <pdf:table rect="{20,42},{155,215.5}" borderWidth="1.0" lineWidth="0.5" padding="1">
         <pdf:tr height="11.11">
         
         <pdf:td width="15.5">案  发\n地  点</pdf:td>
         <pdf:td width="80.5" static="NO">{{ case.place }}</pdf:td>
         <pdf:td width="15">时 间</pdf:td>
         <pdf:td width="44" textAlignment="left" static="NO">{{ case.date }}</pdf:td>
         
         
         </pdf:tr>
         <pdf:tr height="14">
         
         <pdf:td width="15.5">当事人</pdf:td>
         <pdf:td width="40.5" static="NO">{{ citizen.name }}</pdf:td>
         
         <pdf:td width="15">车 号</pdf:td>
         <pdf:td width="44" static="NO">{{ citizen.car_number }}</pdf:td>
         
         <pdf:td width="12">车 型</pdf:td>
         <pdf:td width="28" static="NO">{{ citizen.car_model }}</pdf:td>
         </pdf:tr>
         
         <pdf:tr height="15">
         <pdf:td width="15.5">单 位</pdf:td>
         <pdf:td width="80.5" static="NO">{{ citizen.org }}</pdf:td>
         <pdf:td width="15">联系\n电话</pdf:td>
         <pdf:td width="44" static="NO">{{ citizen.tel }}</pdf:td>
         </pdf:tr>
         
         <pdf:tr height="9.8">
         
         <pdf:td width="51.5" textAlignment="center">项目</pdf:td>
         <pdf:td width="14" textAlignment="center">单 位</pdf:td>
         <pdf:td width="15" textAlignment="center">数 量</pdf:td>
         <pdf:td width="22" textAlignment="center">单价(元)</pdf:td>
         <pdf:td width="22" textAlignment="center">金额(元)</pdf:td>
         <pdf:td width="22" textAlignment="center">备注</pdf:td>
         </pdf:tr>
         {{! 赔补偿项目列表 }}
         {{#items}}
         <pdf:tr height="9.8">
         <pdf:td width="15.5" >{{ .id }}</pdf:td>
         <pdf:td width="51.5" textAlignment="left" static="NO">{{ .name }}</pdf:td>
         <pdf:td width="15" static="NO">{{ .size }}</pdf:td>
         <pdf:td width="14" static="NO">{{ .unit }}</pdf:td>
         <pdf:td width="15" static="NO">{{ .quantity }}</pdf:td>
         <pdf:td width="22" static="NO">{{ .unit_price }}</pdf:td>
         <pdf:td width="22" static="NO">{{ .total_price }}</pdf:td>
         </pdf:tr>
         {{/items}}
         <pdf:tr height="9.8">
         <pdf:td width="15.5" textAlignment="center">合计</pdf:td>
         <pdf:td width="139.5" textAlignment="center">
         <pdf:text point="mid-left:1,5.55">人民币（大写）：</pdf:text>
         <pdf:text point="mid-left:27,5.55" static="NO">{{ money.wan }} </pdf:text>
         <pdf:text point="mid-left:34,5.55">万</pdf:text>
         
         <pdf:text point="mid-left:41,5.55" static="NO">{{ money.qian }} </pdf:text>
         
         <pdf:text point="mid-left:49,5.55">仟</pdf:text>
         
         <pdf:text point="mid-left:56,5.55" static="NO">{{ money.bai }} </pdf:text>
         
         
         <pdf:text point="mid-left:64,5.55">佰</pdf:text>
         
         <pdf:text point="mid-left:71,5.55" static="NO">{{ money.shi }} </pdf:text>
         
         
         <pdf:text point="mid-left:79,5.55">拾</pdf:text>
         
         <pdf:text point="mid-left:86,5.55" static="NO">{{ money.yuan }} </pdf:text>
         
         
         <pdf:text point="mid-left:94,5.55">元</pdf:text>
         
         <pdf:text point="mid-left:102,5.55" static="NO">{{ money.jiao }} </pdf:text>
         
         
         <pdf:text point="mid-left:110,5.55">角</pdf:text>
         
         <pdf:text point="mid-left:114,5.55" static="NO">{{ money.fen }} </pdf:text>
         
         
         <pdf:text point="mid-left:118,5.55">分</pdf:text>
         
         <pdf:text point="mid-left:123,5.55" static="NO">{{ money.xiaoxie }}</pdf:text>
         </pdf:td>
         </pdf:tr>
         <pdf:tr height="29">
         <pdf:td width="15.5" textAlignment="center">备注</pdf:td>
         <pdf:td width="139.5" textAlignment="left" static="NO">{{ comment }}</pdf:td>
         </pdf:tr>
         <pdf:tr height="29">
         <pdf:td width="155" textAlignment="left">告知事项：\n1、路政案件处理地址：中山市东升镇星月街高速公路管理中心办公楼二楼路政队\n2、办公时间：周一至周五上午8:00-12:00；下午14:30-17:30；\n3、办公电话（传真）：0760-22213325\n4、在交警结案前，应先办理路产赔（补）偿手续。</pdf:td>
         </pdf:tr>
         </pdf:table>-->
	</pdf:content>
</pdf:template>
